<div class="container-fluid">
    <p class='page-title'>{{poll.question}}</p>
    <div id='pollObject' value='{{ poll }}'></div>
    {{#if username}}
    <div id='voting-options'>
        <select id="options">
        {{#each poll.optionsInPoll}}
            <option value='?pollId={{ ../poll._id }}&pollOptionId={{ this._id }}'>{{this.text}}</option>
        {{/each}}
        </select>
        <button id='submitVote'>Submit Vote</button>
    </div>
    {{/if}}
    <ul id='voteCount'>
    {{#each poll.optionsInPoll}}
        <li>{{this.text}}: {{this.voteCount}}</li>
    {{/each}}
    </ul>
</div>
<script type="text/javascript" src="/common/ajax-functions.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script type="text/javascript" src="/controllers/viewPollController.client.js"></script>